
.Header{
    background-color: #0a0c21;
    color: #8899a6;
    padding: 10px;
}


.header-nav{
    display: flex;
}

.header-nav ul{
    padding: 0;
    margin: 25px 50px;

}

.header-nav  li {
    font-size: 18px;
    padding-left: 10px;
    display: inline-block;
}


.header-nav li a{
    text-decoration: none;
    color: #8899a6;
}


.header-nav h2:hover, li a:hover{
    color: #8f3d8f;
}



.center{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50%;
}

.center .btn{
    margin: 50px 0px;
}


.center p{
    font-size: 20px;
}


.center p span{
    color:#8f3d8f
    

}



.center > .btn a{
    color: #fff;
    text-decoration: none;
    text-align: left;
    background: #8f3d8f;
    padding: 10px;
    border-radius: 10px; 
}

.center h1{
    font-size: max(25px,3.2vw);
}




@media screen and (max-width: 768px){
    .header-nav{
        display: block;
    }
    
    .header-nav h2{
        text-align: center;
    }

    .header-nav .navbar{
        widows: 100%;
    }

    .header-nav .navbar li{
        display: block;
        text-align: center;
        padding-left: 0;
        margin: 10px;
        
    }
   
 
    
}
  
  