
.Header{
    background-color: #0a0c21;
    color: #8899a6;
    padding: 10px;
}


.header-nav{
    display: flex;
}

.header-nav ul{
    padding: 0;
    margin: 25px 50px;

}

.header-nav  li {
    font-size: 18px;
    padding-left: 10px;
    display: inline-block;
}


.header-nav li a{
    text-decoration: none;
    color: #8899a6;
}


.header-nav h2:hover, li a:hover{
    color: #8f3d8f;
}



.center{
    width: 50%;
    margin-top: 100px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;

}

.center .btn{
    margin: 50px 0px;
}


.center p{
    font-size: clamp(0.5em, 0.5em + 1vw, 1.3em);
}


.center p span{
    color:#8f3d8f
    

}



.center > .btn a{
    color: #fff;
    text-decoration: none;
    text-align: left;
    background: #8f3d8f;
    padding: 10px;
    border-radius: 10px; 
    font-size: max(14px,0.9vw);
}

.center h1{
    font-size: clamp(2em, 1em + 3vw, 4.5em);
    font-weight: 300;
    line-height: 1.2;
}




@media screen and (max-width: 768px){

    .Header{
        text-align: center;
    }

    .header-nav{
        display: block;
    }
    

    .header-nav .navbar{
        widows: 100%;
    }

    .header-nav .navbar li{
        display: block;
        padding-left: 0;
        margin: 10px;
        
    }

    .center{
        width: 100%;
    }
     
}
  
  