@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Projeto{
    color: #8899a6;
    font-family: 'poppins', sans-serif;
    margin: 50px 0 100px 0; 

}

.Projeto .center {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}


.center .content {
    width: 25%;
    margin: 0 30px;
    text-align: justify;  
}


.center .img-projeto {
    width: 50%;
    text-align: right;
}

.center .img-projeto img{
    width: 50%;
}

.content a{
    color: #8899a6;
    width: 100%;
    font-size: 30px;
}

.content p{
    font-size: 16px;
}


.content a:hover{
    color: #8f3d8f;
}

@media screen and (max-width:  1280px){
    .Projeto .center{
        display: block;
        width: 100%;
    }

    .center .content{
        padding: 0;
        margin: 0 auto;
    }

    .center .content h2{
        text-align: center;
    }


    .center .img-projeto {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .center .img-projeto img{
        width: 40%;
    
    }
}

  





@media screen and (max-width:   768px){
   
    .center .content{
        width:  80%;
        padding: 0;
    }


    .center .img-projeto {
        width: 90%;
    }

    .center .img-projeto img{
        width: 100%;
    
    }
}

  
